{:paths ["src"]
 :deps  {
         ring/ring-core            {:mvn/version "1.1.6"}
         ring/ring                 {:mvn/version "1.1.6"}
         ring/ring-jetty-adapter   {:mvn/version "1.1.6"}
         javax.servlet/servlet-api {:mvn/version "2.5"}

         org.clojure/java.jdbc     {:mvn/version "0.7.12"}
         org.postgresql/postgresql {:mvn/version "42.6.0"}
         toucan/toucan             {:mvn/version "1.18.0"}
         honeysql/honeysql         {:mvn/version "1.0.461"}}

 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
          :ns-default build}}}
