 {:source-paths ["src" "../src"]

 :dependencies [[reagent "1.2.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/cljs/js"
   :asset-path "/cljs/js"
   :modules {:main {:entries [examples.core]}}
   :devtools {:before-load examples.core/stop
              :after-load examples.core/start
              :http-root "public"
              :http-port 3000}}}}